<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Admin</div>
        <div class="panel-body">
          <legend><i class="ion-person-add"></i> Create Account</legend>
          <form method="post" ng-submit="createAccount()" name="accountForm">
            <div class="form-group">
              <label class="control-label"><i class="ion-person"></i> Display Name</label>
              <input type="text" class="form-control" name="displayName" required ng-model="displayName" />
            </div>
            <div class="form-group">
              <label class="control-label"><i class="ion-at"></i> Email Address</label>
              <input type="email" class="form-control" name="email" ng-model="email" required ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"/>
            </div>
            <div class="form-group">
              <label class="control-label"><i class="ion-key"></i> Password</label>
              <input type="password" class="form-control" name="password" required ng-model="password" />
            </div>
            <div class="form-group">
              <label class="control-label"><i class="ion-ios7-eye"></i> Role </label>
              <input type="text" class="form-control" name="Role" required ng-model="role" />
            </div>
            <button class="btn btn-lg btn-success">Create Account</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Accounts</div>
        <div class="panel-body">
          <legend><i class="ion-ios7-people"></i> Users</legend>
            <table class="table table-striped" data-ng-hide="loading">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>E-mail</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="user in users">
                  <td>{{user.displayName}}</td>
                  <td>{{user.email}}</td>
                  <td><span class="label" data-ng-class='{"label-info": user.role == "user", "label-success": user.role == "admin"}'>{{user.role}}</span></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>