h1 Status view
table.table.table-striped(data-ng-hide="loading")
    thead
        tr
            th #
            th Author
            th Category
            th Text
    tbody
        tr(data-ng-repeat="status in statuses")
            td {{ status._id }}
            td {{ status.author.username }}
            td {{ status.category }}
            td {{ status.text }}