.container
    .row
        .col-md-4.col-md-push-6
            div.list-group(data-ng-controller='NavCtrl')
                .list-group-item
                    strong Nested menu
                a.list-group-item(href='/status', active-nav) Status
                a.list-group-item(href='/status/submission', active-nav) Status Submission
        .col-md-6.col-md-pull-4(data-ui-view)