h1 Status Submission view
form.form-horizontal(ng-submit="createStatus()", name="submitForm", role="form")
    .form-group
        label.control-label.col-sm-2(for="username") Username
        .col-sm-10
            p {{ user.username }}
    .form-group
        label.control-label.col-sm-2(for="category") Category
        .col-sm-10
            select(data-ng-model="category")
                option(ng-repeat="category in categories") {{category}}
    .form-group
        label.control-label.col-sm-2(for="text") Text
        .col-sm-10
            input.form-control(type="text", data-ng-model="text", placeholder="text", name="text", required, data-ng-minlength="5", data-ng-maxlength="60")
    .form-group
        .controls
            button.btn(type="submit", data-ng-disabled="submitForm.$invalid") Submit
